# --------------------------------
#  Fichier de configuration pour les variables d'environnement utilisées dans les fichiers `docker-compose.yml` de `Dockerfile`
# --------------------------------

# ------------------------
# Variables d'environnement pour Docker
# ------------------------
NETWORK_NAME= # Nom du réseau Docker
CERT_CONTAINER_NAME= # Nom du conteneur `mkcert` qui génère les certificats SSL
NGINX_CONTAINER_NAME= # Nom du conteneur `nginx` qui héberge les sites web

# ------------------------
# Variables d'environnement pour Nginx
# ------------------------
ROOT_VOLUME= # Nom du volume monté dans le conteneur `nginx` pour le dossier racine des sites web
ROOT_DIR= # Chemin du dossier racine des sites web à l'intérieur du conteneur `nginx`
CONF_DIR= # Nom du dossier de configuration Nginx à l'intérieur du conteneur `nginx`
FULL_PATH_CONF_DIR= # Chemin du dossier de configuration Nginx à l'intérieur du conteneur `nginx`

# ------------------------
# Variables d'environnement pour les certificats SSL
# ------------------------
CERT_DIR= # Nom du dossier des certificats SSL à l'intérieur du conteneur `mkcert`
CERT_VOLUME= # Nom du volume monté dans le conteneur `nginx` & `mkcert` pour le dossier des certificats SSL
FULL_PATH_CERT_DIR= # Chemin du dossier des certificats SSL à l'intérieur du conteneur `nginx`

# ------------------------
# Variables d'environnement pour les domaines et l'adresse IP du serveur
# ------------------------
BASE_DOMAIN= # Domaine principal du serveur
SERVER_IP= # Adresse IP du serveur