# --------------------------------
#  Fichier de configuration pour les variables d'environnement utilisées dans les fichiers `docker-compose.yml` de `Dockerfile`
# --------------------------------

# ------------------------
# Variables d'environnement pour Docker
# ------------------------
NETWORK_NAME= # Nom du réseau Docker
CERT_CONTAINER_NAME= # Nom du conteneur `mkcert` qui génère

# ------------------------
# Variables d'environnement pour les certificats SSL
# ------------------------
CERT_DIR= # Nom du dossier des certificats SSL à l'intérieur du conteneur `mkcert`

# ------------------------
# Variables d'environnement pour les domaines et l'adresse IP du serveur
# ------------------------
BASE_DOMAIN= # Domaine principal du serveur
SERVER_IP= # Adresse IP du serveur